@model WebApplication16.Models.AddNewPayment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AddNewPayment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ContributionName" class="control-label"></label>
                <input asp-for="ContributionName" class="form-control" />
                <span asp-validation-for="ContributionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContributionPrivilege" class="control-label"></label>
                <input asp-for="ContributionPrivilege" class="form-control" />
                <span asp-validation-for="ContributionPrivilege" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContributionDescription" class="control-label"></label>
                <input asp-for="ContributionDescription" class="form-control" />
                <span asp-validation-for="ContributionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserStatus" class="control-label"></label>
                <input asp-for="UserStatus" class="form-control" />
                <span asp-validation-for="UserStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
